<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dal.Properties.Settings>
            <setting name="MySqlConnectionSetting" serializeAs="String">
                <value>Server=192.3.31.28;Port=3306;Database=mauhel_db;Uid=admin;Pwd=buga@tec_buga1;</value>
            </setting>
        </Dal.Properties.Settings>
    </applicationSettings>
</configuration>